/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.wrapper {
  display: inline-block;
}

.wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.seller-car-img{
  width: 30%;
  height: 100px;
}