/* Start og Car-options Page*/

.tbl-container{
    background: #fff;
    padding: 20px; 
    width: 49%;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-info{
    color: #fff;
}


.btn-block-color{
    background: #FA2837;
    color: #fff;
}

.btn-block-color:hover{
    background: #db212d;
    color: #fff;
}

.btn-outline-Themecolor{
    border-color: #FA2837;
    color: #FA2837;
    border-width: 1px;
}

.btn-outline-Themecolor:hover{
    border-color: #FA2837;
    color: #fff;
    border-width: 1px;
    background-color: #FA2837;
}

.wrapper {
    display: inline-block;
    width: 100%;
    height: 50vh;
  }
  
  .wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper1 {
    display: inline-block;
    width: 100%;
    height: 30vh;
    
  }
  
  .wrapper1 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }
